<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-9 col-lg-6 mt-3">
      <h2 class="text-center">
        Our menu changes frequently to make use of the freshest seasonal
        ingredients available.
      </h2>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-9 col-lg-6">
      <h2 class="text-center">Below are our current seasonal menus</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-9 col-lg-6">
      <h2 class="text-center">
        We also offer a specially selected wine list and a variety of spirits,
        beers and non-alcoholic drink options to accompany your meal.
      </h2>
    </div>
  </div>
  <div class="row justify-content-between rowMenu">
    <div class="col-12 col-lg-5 colMenu">
      <h3>{{ "Simple dinner menu" | uppercase }}</h3>

      <h4>The First Taste</h4>

      <p><b>Shrimp Tortellini</b>, Saffron Cream, and Charred Scallion</p>
      <p>OR</p>
      <p><b>Smoked Salmon</b>, Dill Yogurt and Beetroot</p>
      <h4>The Main Event</h4>

      <p>
        <b>Seared Sea Bass</b>, Zucchini Puree, Roasted Cherry Tomatoes and
        Basil Oil
      </p>
      <h4>Sweet Finale</h4>

      <p><b>Dark Chocolate Mousse</b> with Raspberry Coulis</p>
      <p>OR</p>
      <p><b>Aged Parmesan</b>, Fig Compote, and Herb Crackers</p>
      <h5 class="price">€40 per person</h5>
    </div>
    <div class="col-12 col-lg-5 colMenu">
      <h3>{{ "Gourmet Tasting Menu" | uppercase }}</h3>

      <h4>Prelude</h4>

      <p><b>Oysters</b> with Champagne Foam and Lemon Caviar</p>
      <p>OR</p>
      <p><b>Foie Gras Terrine</b>, Pear Chutney, and Spiced Brioche</p>
      <h4>Interlude</h4>

      <p><b>Lobster Ravioli</b> with Shellfish Bisque and Truffle Essence</p>
      <p>OR</p>
      <p><b>Octopus Carpaccio</b>, Citrus Gel, and Fennel</p>
      <h4>The Main Course</h4>

      <p>
        <b>Wagyu Beef Fillet</b>, Black Garlic Purée, Bone Marrow Jus, and
        Asparagus
      </p>
      <p>OR</p>
      <p>
        <b>Wild Turbot</b>, Cauliflower Velouté, Truffle Shavings, and Crispy
        Kale
      </p>

      <h4>Cheese Selection</h4>

      <p>Assorted <b>Artisan Cheeses</b>, Fig Jam, and Walnut Bread</p>
      <h4>To Finish</h4>

      <p><b>Hazelnut Parfait</b> with Espresso Caramel</p>
      <p>OR</p>
      <p><b>Lemon Tart</b> with Basil Sorbet</p>

      <h5 class="price">€125 per person</h5>
    </div>
  </div>

  <div class="cta text-center">
    <a routerLink="/reservation">BOOK A TABLE</a>
  </div>
</div>
