<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h5 class="fs-2 text-center text-md-start mt-5">
        Have a question? Please send us an enquiry using the form below.
      </h5>
    </div>
  </div>
  <div class="row section">
    <div class="col-12 col-md-6 h-100 info">
      <h6>Phone</h6>
      <p>+39 02 1234 5678</p>
      <h6>Address</h6>
      <p>Via della Moscova, 12</p>
      <p>20121</p>
      <p>Milan, Italy</p>
    </div>
    <div class="col-12 col-md-6 h-100 form">
      <p class="askRes">
        If you wish to book a table please visit the
        <a routerLink="/reservation">bookin page</a>
      </p>
      <form
        (ngSubmit)="sendEmail(contactForm)"
        class="d-flex flex-column gap-5 mt-5"
        #contactForm="ngForm"
      >
        <input type="text" placeholder="Name" required name="name" ngModel />
        <input
          type="email"
          placeholder="Your E-mail"
          required
          name="email"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          ngModel
        />
        <textarea
          placeholder="Your Message"
          rows="4"
          required
          name="message"
          ngModel
        ></textarea>
        <button
          class="bookBtn rippleBtn"
          (click)="createRipple($event)"
          role="button"
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col map">
      <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
        <map-marker
          *ngIf="customIcon"
          [position]="center"
          [title]="markerTitle"
          [icon]="customIcon"
          (mapClick)="onMarkerClick()"
        ></map-marker>
      </google-map>
    </div>
  </div>
</div>
<app-toast></app-toast>

<ng-template #successToast>Message sent successfully</ng-template>
<ng-template #unSuccessToast> {{ errorToastMessage }} </ng-template>
