<div class="spacer"></div>
<footer class="footer">
  <div class="info d-flex flex-column flex-lg-row">
    <div class="social">
      <p>+39 02 1234 5678</p>
      <p>info&#64;thesecretplate.com</p>
      <p>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
        <a href="https://www.threads.net/" target="_blank"
          ><i class="bi bi-threads"></i
        ></a>
        <a href="https://www.facebook.com/" target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="https://x.com/" target="_blank"
          ><i class="bi bi-twitter-x"></i
        ></a>
      </p>
    </div>
    <div class="address">
      <p>Via della Moscova, 12</p>
      <p>20121</p>
      <p>Milan, Italy</p>
    </div>
  </div>
  <div class="copyright">
    <div class="spacer d-block d-md-none m-0 my-5"></div>
    <p>© 2022 The Secret Plate.</p>
    <p>All rights reserved.</p>
  </div>
  <div
    class="links ms-auto d-flex align-items-lg-center flex-column flex-lg-row"
  >
    <div class="linkCol">
      <p><a routerLink="/">Home</a></p>
    </div>
    <div class="linkCol">
      <p><a routerLink="/menu">Menu</a></p>
      <p><a routerLink="/gallery">Gallery</a></p>
    </div>
    <div class="linkCol">
      <p><a routerLink="/reservation">Reservation</a></p>
      <p><a routerLink="/contacts">Contact Us</a></p>
    </div>
  </div>
</footer>
